body{
    /* (css) 1. O fundo da página deve ter uma cor suave.*/
    background-color: rgb(35, 35, 35); /* dark style */
    margin:5px;
    padding:5px;
}

.profileHolder{
    margin: auto;
    background-color: rgb(196, 196, 196);
    border: 1px dashed rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;    
}  

h1, h2, h3, h4, h5, h6, p, ul, table, a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(196, 196, 196);
}

.profileName{
    /* (css) 2. O título (<h1>) deve ter uma cor diferente e estar centralizado.*/
    color: rgb(35, 35, 35);
    font-size: 50px;
    text-align: center;
    height: fit-content;
}

p{
    /* (css) 3. O parágrafo (<p>) deve ter um tamanho de fonte maior e ser justificado.*/
    font-size: 18px;
    text-align: justify;
}

button{
    background-color: rgb(196, 196, 196);
    display: block;
    margin: auto;
    border-radius: 5px;
}

button:hover{
    color: rgb(35, 35, 35);
    background-color: rgb(255, 255, 255);
}

button:active{
    color: rgb(196, 196, 196);
    background-color: rgb(35, 35, 35);
}

#messageHolder{
    text-align: center;
}

.emphasis{
    font-weight: bold;
}

.emphasis:hover{
    color: rgb(35, 35, 35);
    background-color: rgb(196, 196, 196);
}

.centeredPanel{
    margin: auto;
    min-width:73%;
    max-width:90%;
    padding: 10px;
    border: 1px dashed rgb(196, 196, 196);
    width: fit-content;
    background-color: rgb(48, 48, 48);
    text-align:center;
}

.alternating{
    text-shadow: 1px;
}

.alternating li{
    /* (css) 4. A lista (<ul>) deve ter um espaçamento maior entre os itens. */
    margin: 10px 0;
    border-radius: 5px;
}

.alternating li:hover{
    font-weight: bolder;
}

.alternating li:nth-child(odd){
    color: rgb(0, 0, 0);
    background-color: rgb(153, 153, 153);
}

.alternating li:nth-child(even){
    color: rgb(153, 153, 153);
    background-color: rgb(0, 0, 0);
}

#hobbiesPanel{
    border-radius: 25px;
}

.hobby{
    /* (css) 5. A imagem (<img>) deve ter bordas arredondadas e um tamanho adequado.  */
    border-radius: 25px;
    height: 150px;
    opacity: 0.2;
}

.hobby:hover{
    height: 155px;
    opacity: 1;
}

table, th, td{
    /* (css) 6. A tabela(<table>) deve estar estilizada. */
    border: 1px dashed rgb(196, 196, 196);    
}

td{
    text-align: justify;
    background-color: rgb(48, 48, 48);
    padding: 10px;
}

a{    
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    /* (css) 7. O link (<a>) deve mudar de cor quando o usuário passar o mouse sobre ele.*/
    color: rgb(35, 35, 35);
    background-color:rgb(196, 196, 196);
    font-weight: bolder;
}